body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
    background-size: cover;
}

.mole-board {
   
    width: 540px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    padding-right: 60px;
}

.tile {
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
    cursor: pointer;
    position: relative;
    
}
.mole-gameover{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    border: 100px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: absolute;
    right: 15%;
    top: 40%;
}
.mole-title{
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 10px;
    border: 100px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    cursor: pointer;
    position: absolute;
    right: 12%;
    top: 100px;
    
}
.mole-reset{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    border: 100px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: absolute;
    right: 16%;
    top: 50%;
}
.tile img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}