*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: url(assets/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
 
}
a{
  text-decoration : none;
  color: inherit;
}
 